<?php
/**
 * Configuration File.
 */
return (object)array(
  // Currently, enabling debug mode enabled FirePHP calls
  'debug' => false,

  // Set to a string to show in the top header of the installation
  'devheader' => false,

  // Cache setting for the main "Home" screen. Setting to false disables client caching
  'cachehome' => 60 * 60 * 4, // 4 hours

  'db' => (object)array(
    'dsn' => "mysql:host=localhost;dbname=databasename;unix_socket=/var/lib/mysql/mysql.sock",
    'user' => 'username',
    'password' => 'password',
  ),

  'memcache' => false,
  /*
  'memcache' => (object)array(
      'host'=>'localhost',
      'port'=>11211,
  ),
  */

  'credits' => array(
    array(
      'name' => 'Someones Name',
      'job' => 'What they contributed',
    ),
  ),
  'tools' => array(
    'grinding'=>true,
    'mobs'=>true,
    'pets'=>true,
    'npcs'=>true,
    'map'=>true,
    'shops'=>true,
    'armor'=>true,
    'trainer'=>true,
  ),
);

/* vi: set ft=php: */
?>
