<?php
/**
 * Configuration File.
 */
return (object)array(
  // Currently, enabling debug mode simply includes FirePHP classes
  'debug' => false,

  'db' => (object)array(
    'dsn' => "mysql:host=localhost;dbname=databasename;unix_socket=/var/lib/mysql/mysql.sock",
    'user' => 'username',
    'password' => 'password',
  ),

  'credits' => array(
    array(
      'name' => 'Someones Name',
      'job' => 'What they contributed',
    ),
  ),
  'tools' => array(
    'grinding'=>true,
    'mobs'=>true,
    'pets'=>true,
    'npcs'=>true,
    'map'=>true,
    'shops'=>true,
    'armor'=>true,
    'trainer'=>true,
  ),
);

/* vi: set ft=php: */
?>
