html {
  margin: 0;
  padding: 0;
}

body {
  font: 85% Georgia, serif;
  line-height: 2.2em;
  background-color: #000000;
  color: #EFC235;
  cursor: url("normal.cur"), default;
}

a:link { 
  text-decoration: none; 
  color: #EFC325;
  cursor: url("links.cur"), default;
}

a:visited {  
  text-decoration: none; 
  color: #EFC325;
  cursor: url("links.cur"), default;
}

a:hover, a:active { 
  text-decoration: underline; 
  color: #FFFFFF;
  cursor: url("links.cur"), default;
}

#header {
  text-align: center;
}

#main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

h2 {
  text-align: center;
}

ul {
  list-style: url("gem.png");
  color: #EFC235;
  position: absolute;
}

ul.navigation {
  min-width: 740px;
  float: left;
  position: relative;
  left: 50%;
  text-align: left;
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

ul.navigation li {
  float: left;
  position: relative;
  left: -50%;
  font-weight: bold;
  padding: 0.2em 1em;
  margin: 0;
  height: 40px;
  background: url('menu-gradient.png') repeat-x;
}

ul.navigation li:first-child {
  padding-left: 38px;
  background: url('menu-left.png') no-repeat;
}

ul.navigation li:last-child {
  padding-right: 38px;
  background: url('menu-right.png') no-repeat;
  background-position: top right;
}

.ui-tabs .ui-tabs-hide {
  display: none;
}

.content {
  clear: left;
  width: 50%;
  margin: 0 auto;
}
