html {
  margin: 0;
  padding: 0;
}

body {
  font: 85% Georgia, serif;
  line-height: 2.2em;
  background-color: #000000;
  color: #EFC235;
  cursor: url("images/normal.cur"), default;
}

a {
  cursor: url("images/links.cur"), default;
}

a:link, a:visited { 
  text-decoration: none; 
  color: #EFC325;
}

a:hover, a:active { 
  text-decoration: underline; 
  color: #FFFFFF;
}

#header {
  text-align: center;
}

#main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: none;
  background: transparent none;
}

h2 {
  text-align: center;
}

ul.list {
  list-style: url("images/gem.png");
  color: #EFC235;
}

ul.navigation {
  background-color: transparent;
  background-image: none;
  border: none;
  float: left;
  left: 50%;
  text-align: left;
  padding: 0 !important;
  margin: 0 auto;
}

ul.navigation li {
  left: -50%;
  background-image: url('images/menu-gradient.png') !important;
  background-repeat: repeat-x;
  background-position: 0 0 !important;
  margin: 0 !important;
}

ul.navigation li:first-child {
  padding-left: 38px;
  background-image: url('images/menu-left.png') !important;
  background-repeat: no-repeat;
}

ul.navigation li:last-child {
  padding-right: 38px;
  background-image: url('images/menu-right.png') !important;
  background-repeat: no-repeat;
  background-position: top right !important;
}

ul.navigation li.ui-state-default, ul.navigation li.ui-state-active {
  border: none;
  background-color: transparent;
  color: #EFC235;
  padding-bottom: 0px;
}

ul.navigation li.ui-state-default a, ul.navigation li.ui-state-active a {
  color: #EFC235;
}

div.content {
  clear: left;
  width: 50%;
  margin: 0 auto;
}

div.content.ui-tabs-panel {
  padding: 0;
}

div.content.ui-widget-content {
  color: #EFC235;
}

div.content.ui-widget-content a {
  color: #EFC235;
}
