/*
 * This file is part of INQ Calculators and is covered under the AGPL v3
 */

/**
 * @copyright Copyright 2010
 * @author Edward Rudd <urkle at outoforder.cc>
 */
.digitPicker {
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.digitPicker-popup {
    position:absolute;
}

.digitPicker-row {
    position:relative;
}

.digitPicker-cell {
    background-color: blue;
    cursor: pointer;
    color: white;
    border: 2px gray outset;
    font-size: 2em;
}
.digitPicker-cell-active {
    background-color: yellow;
    color: black;
}