/**
 * Interactive Map
 * @copyright Copyright 2010
 * @author Edward Rudd <urkle at outoforder.cc>
 */
/*
 * This file is part of INQ Calculators and is covered under the AGPL v3
 */
.interactiveMap {
}

.interactiveMap .viewPort {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.interactiveMap .container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.interactiveMap .tileCache, .interactiveMap .overlay {
    width: 100%;
    position: absolute;
    height: 100%;
}

.interactiveMap .overlay {
    position: absolute;
}

.interactiveMap .overlay svg > g > g{
    fill-opacity: 0.5;
}

.interactiveMap .tileCache > .tile {
    position: absolute;
    overflow: hidden;
}
